Write a program to check whether a number entered by the user is even or odd.

In [ ]:
a=int(input("enter a number "))
if a%2==0:
  print(f"{a} is an even number")
else:
  print(f"{a} is an odd number")

Ask the user to enter a number and print whether it is positive, negative, or zero.

In [ ]:
a=int(input("enter a number"))
if a>0:
  print(f"{a} is a positive number")
elif a<0:
  print(f"{a} is a negative number")
else :
  print(f"{a} = 0")

Take two numbers as input and print which one is larger (or if both are equal).

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
if a>b:
  print(f"{a} is greater than {b}")
elif a<b:
  print(f"{b}is greater than {a}")
else:
  print(f"{a} is equal to {b}")

Check if a given year is a leap year.

In [ ]:
year=int(input("enter a year"))
if year%400==0:
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Take marks as input and print grades:

≥90: A

≥80: B

≥70: C

≥60: D

Else: F

In [ ]:
a=int(input("enter marks"))
if a>=90 and a<=100:
  print("A")
elif a>=80 and a<90:
  print("B")
elif a>=70 and a<80:
  print("C")
elif a>=60 and a<70:
  print("D")
else:
  print("F")

Take a letter from the user and check if it's a vowel or consonant.

In [ ]:
letter=input("enter a letter ")
if letter=="a" or letter=="e" or letter=="i" or letter=="o" or letter=="u":
  print(f"{letter} is a vowel")
else:
  print(f"{letter} is a consonent")

Take a number and check if it's divisible by 3 and 5.

In [ ]:
a=int(input("enter a number "))
if a%3==0 and a%5==0:
  print(f"{a} is divisible by 3 & 5")
else:
  print(f"{a} is not divisible by 3 & 5")

Take 3 sides and determine if it’s:

Equilateral

Isosceles

Scalene

In [ ]:
a=int(input("enter a side of triangle"))
b=int(input("enter a side of triangle"))
c=int(input("enter a side of triangle"))
if a==b==c:
  print(f"It is an equilateral triangle")
elif a==b or b==c or c==a:
  print(f"It is an isosceles triangle")
else:
  print(f"It is a scalene triangle")

Input age and classify:

Below 13: Child

13 to 19: Teen

20 to 59: Adult

60+: Senior

In [ ]:
age=int(input("enter age"))
if age<13:
  print("Child")
elif age>=13 and age<=19:
  print("Teen")
elif age>=20 and age<=59:
  print("Adult")
else :
  print("Senior")

Check if a number is between 10 and 50 (inclusive).

In [ ]:
a=int(input("enter a number "))
if a>=10 and a<=50:
  print(f"{a} is between 10 and 50")
else:
  print(f"{a} is not in between 10 and 50")

1. write a function to add two numbers.

In [ ]:
def add(a,b):
  print(a+b)

add(3,4)

7

2. write a function to check if a number is even.

In [ ]:
def is_even(num):

  if num % 2 == 0:
    return True
  else:
    return False

num = 10
if is_even(num):
  print(f"{num} is even")
else:
  print(f"{num} is odd")

num = 7
if is_even(num):
  print(f"{num} is even")
else:
  print(f"{num} is odd")

10 is even
7 is odd

3. Write a function to find the factorial of a number.

In [ ]:
n=int(input())
fact=1
for i in range (1,n+1):
  fact=fact*i
print(fact)

5
120

 4. Write a function to return the maximum of three numbers

In [ ]:
def find_maximum(a, b, c):
  """
  This function takes three numbers as input and returns the maximum among them.
  """
  return max(a, b, c)

In [ ]:
num1 = 10
num2 = 25
num3 = 15

maximum_number = find_maximum(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, and {num3} is: {maximum_number}")

The maximum of 10, 25, and 15 is: 25

In [ ]:
num4 = 50
num5 = 50
num6 = 30

maximum_number_2 = find_maximum(num4, num5, num6)
print(f"The maximum of {num4}, {num5}, and {num6} is: {maximum_number_2}")

The maximum of 50, 50, and 30 is: 50

5. Write a function to check if a number is prime.

In [ ]:
def check_prime(a):
  """
  This function checks if a number is prime.
  """
  if a <= 1:
    return False  # Numbers less than or equal to 1 are not prime
  for i in range(2, int(a**0.5) + 1):
    if a % i == 0:
      return False  # If divisible by any number other than 1 and itself, it's not prime
  return True # If no divisors found, it's prime

number = 32

prime_number = check_prime(number)
print(f"{number} is a prime number: {prime_number}")

number = 17
prime_number = check_prime(number)
print(f"{number} is a prime number: {prime_number}")

32 is a prime number: False
17 is a prime number: True

6. Write a function to calculate the power of a number.

In [ ]:
def calculate_power(base, exponent):
  return base ** exponent

# Example usage
result = calculate_power(2, 3)
print(f"2 raised to the power of 3 is: {result}")

result = calculate_power(5, 0)
print(f"5 raised to the power of 0 is: {result}")

result = calculate_power(10, 2)
print(f"10 raised to the power of 2 is: {result}")

2 raised to the power of 3 is: 8
5 raised to the power of 0 is: 1
10 raised to the power of 2 is: 100

7. Write a function to convert Celsius to Fahrenheit.

In [ ]:
def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

# Example usage
celsius_temp = 25
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp} degrees Celsius is equal to {fahrenheit_temp} degrees Fahrenheit.")

celsius_temp = 0
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp} degrees Celsius is equal to {fahrenheit_temp} degrees Fahrenheit.")

celsius_temp = 100
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp} degrees Celsius is equal to {fahrenheit_temp} degrees Fahrenheit.")

25 degrees Celsius is equal to 77.0 degrees Fahrenheit.
0 degrees Celsius is equal to 32.0 degrees Fahrenheit.
100 degrees Celsius is equal to 212.0 degrees Fahrenheit.

 8. Write a function to convert Fahrenheit to Celsius

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
  celsius = (fahrenheit - 32) * 5/9
  return celsius
fahrenheit_temp = 77
celsius_temp = fahrenheit_to_celsius(fahrenheit_temp)
print(f"{fahrenheit_temp} degrees Fahrenheit is equal to {celsius_temp} degrees Celsius.")

fahrenheit_temp = 32
celsius_temp = fahrenheit_to_celsius(fahrenheit_temp)
print(f"{fahrenheit_temp} degrees Fahrenheit is equal to {celsius_temp} degrees Celsius.")

fahrenheit_temp = 212
celsius_temp = fahrenheit_to_celsius(fahrenheit_temp)
print(f"{fahrenheit_temp} degrees Fahrenheit is equal to {celsius_temp} degrees Celsius.")

77 degrees Fahrenheit is equal to 25.0 degrees Celsius.
32 degrees Fahrenheit is equal to 0.0 degrees Celsius.
212 degrees Fahrenheit is equal to 100.0 degrees Celsius.

9. Write a function to find the GCD of two numbers.

In [ ]:
import math

def find_gcd(a, b):
  return math.gcd(a, b)
num1 = 48
num2 = 18
gcd_result = find_gcd(num1, num2)
print(f"The GCD of {num1} and {num2} is: {gcd_result}")

num3 = 101
num4 = 103
gcd_result_2 = find_gcd(num3, num4)
print(f"The GCD of {num3} and {num4} is: {gcd_result_2}")

The GCD of 48 and 18 is: 6
The GCD of 101 and 103 is: 1

10. Write a function to find the LCM of two numbers.

In [ ]:
import math

def find_lcm(a, b):
  return abs(a*b) // math.gcd(a, b)
num1 = 12
num2 = 18
lcm_result = find_lcm(num1, num2)
print(f"The LCM of {num1} and {num2} is: {lcm_result}")

num3 = 7
num4 = 13
lcm_result_2 = find_lcm(num3, num4)
print(f"The LCM of {num3} and {num4} is: {lcm_result_2}")

The LCM of 12 and 18 is: 36
The LCM of 7 and 13 is: 91

11. Write a function to calculate the sum of first n natural numbers

In [ ]:
def sum_of_natural_numbers(n):
  if n < 0:
    return "Input should be a non-negative integer"
  else:
    return n * (n + 1) // 2

# Example usage
n = 10
sum_result = sum_of_natural_numbers(n)
print(f"The sum of the first {n} natural numbers is: {sum_result}")

n = 0
sum_result = sum_of_natural_numbers(n)
print(f"The sum of the first {n} natural numbers is: {sum_result}")

n = 5
sum_result = sum_of_natural_numbers(n)
print(f"The sum of the first {n} natural numbers is: {sum_result}")

The sum of the first 10 natural numbers is: 55
The sum of the first 0 natural numbers is: 0
The sum of the first 5 natural numbers is: 15

12. Write a function to return Fibonacci sequence up to n terms.

In [ ]:
def fibonacci_sequence(n):

  if n <= 0:
    return []
  elif n == 1:
    return [0]
  else:
    sequence = [0, 1]
    while len(sequence) < n:
      next_term = sequence[-1] + sequence[-2]
      sequence.append(next_term)
    return sequence


n = 10
fib_sequence = fibonacci_sequence(n)
print(f"The Fibonacci sequence up to {n} terms is: {fib_sequence}")

n = 1
fib_sequence = fibonacci_sequence(n)
print(f"The Fibonacci sequence up to {n} terms is: {fib_sequence}")

n = 0
fib_sequence = fibonacci_sequence(n)
print(f"The Fibonacci sequence up to {n} terms is: {fib_sequence}")

The Fibonacci sequence up to 10 terms is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
The Fibonacci sequence up to 1 terms is: [0]
The Fibonacci sequence up to 0 terms is: []

13. Write a function to get the nth Fibonacci number

In [ ]:
def nth_fibonacci_number(n):

  if n <= 0:
    return "Input should be a positive integer"
  elif n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    a, b = 0, 1
    for _ in range(2, n):
      a, b = b, a + b
    return b

n = 10
fib_number = nth_fibonacci_number(n)
print(f"The {n}th Fibonacci number is: {fib_number}")

n = 1
fib_number = nth_fibonacci_number(n)
print(f"The {n}th Fibonacci number is: {fib_number}")

n = 5
fib_number = nth_fibonacci_number(n)
print(f"The {n}th Fibonacci number is: {fib_number}")

The 10th Fibonacci number is: 34
The 1th Fibonacci number is: 0
The 5th Fibonacci number is: 3

14. Write a function to convert a number to binary

In [ ]:
def decimal_to_binary(number):

  if number < 0:
    return "Input should be a non-negative integer"
  elif number == 0:
    return "0"
  else:
    binary = ""
    while number > 0:
      binary = str(number % 2) + binary
      number //= 2
    return binary

num = 10
binary_representation = decimal_to_binary(num)
print(f"The binary representation of {num} is: {binary_representation}")

num = 0
binary_representation = decimal_to_binary(num)
print(f"The binary representation of {num} is: {binary_representation}")

num = 25
binary_representation = decimal_to_binary(num)
print(f"The binary representation of {num} is: {binary_representation}")

The binary representation of 10 is: 1010
The binary representation of 0 is: 0
The binary representation of 25 is: 11001

15. Write a function to check whether a number is positive, negative, or zero

In [ ]:
def check_number_sign(number):

  if number > 0:
    print(f"{number} is a positive number")
  elif number < 0:
    print(f"{number} is a negative number")
  else:
    print(f"{number} is zero")

num = 10
check_number_sign(num)

num = -5
check_number_sign(num)

num = 0
check_number_sign(num)

10 is a positive number
-5 is a negative number
0 is zero

16. Write a function to check whether a number is divisible by 5 and 11 or not.

In [ ]:
def check_divisibility(number):

  if number % 5 == 0 and number % 11 == 0:
    print(f"{number} is divisible by both 5 and 11")
  else:
    print(f"{number} is not divisible by both 5 and 11")

# Example usage
num = 55
check_divisibility(num)

num = 10
check_divisibility(num)

num = 121
check_divisibility(num)

55 is divisible by both 5 and 11
10 is not divisible by both 5 and 11
121 is not divisible by both 5 and 11

17. Write a function to check whether a year is a leap year or not.

In [ ]:
def is_leap_year(year):

  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
  else:
    print(f"{year} is not a leap year")

year = 2000
is_leap_year(year)

year = 1900
is_leap_year(year)

year = 2024
is_leap_year(year)

year = 2023
is_leap_year(year)

2000 is a leap year
1900 is not a leap year
2024 is a leap year
2023 is not a leap year

18. Write a function to input basic salary and calculate gross salary.

In [ ]:
def calculate_gross_salary(basic_salary):

  hra = 0.10 * basic_salary
  da = 0.50 * basic_salary
  gross_salary = basic_salary + hra + da
  return gross_salary

basic_salary = float(input("Enter basic salary: "))
gross_salary = calculate_gross_salary(basic_salary)
print(f"The basic salary is: {basic_salary}")
print(f"The gross salary is: {gross_salary}")

Enter basic salary: 400
The basic salary is: 400.0
The gross salary is: 640.0

19. Write a function to calculate the simple interest.

In [ ]:
def calculate_simple_interest(principal, rate, time):

  simple_interest = (principal * rate * time) / 100
  return simple_interest


principal = 10000
rate = 5
time = 3
simple_interest = calculate_simple_interest(principal, rate, time)
print(f"The simple interest for a principal of {principal}, rate of {rate}%, and time of {time} years is: {simple_interest}")

principal = 5000
rate = 7.5
time = 2
simple_interest = calculate_simple_interest(principal, rate, time)
print(f"The simple interest for a principal of {principal}, rate of {rate}%, and time of {time} years is: {simple_interest}")

The simple interest for a principal of 10000, rate of 5%, and time of 3 years is: 1500.0
The simple interest for a principal of 5000, rate of 7.5%, and time of 2 years is: 750.0

 20. Write a function to calculate the compound interest.

In [ ]:
def calculate_compound_interest(principal, rate, time, compound_frequency):


  compound_interest = principal * (pow((1 + rate / compound_frequency), time * compound_frequency)) - principal
  return compound_interest


principal = 10000
rate = 0.05
time = 3
compound_frequency = 1
compound_interest = calculate_compound_interest(principal, rate, time, compound_frequency)
print(f"The compound interest for a principal of {principal}, rate of {rate*100}%, time of {time} years, compounded annually is: {compound_interest:.2f}")


principal = 10000
rate = 0.05
time = 3
compound_frequency = 2
compound_interest = calculate_compound_interest(principal, rate, time, compound_frequency)
print(f"The compound interest for a principal of {principal}, rate of {rate*100}%, time of {time} years, compounded semi-annually is: {compound_interest:.2f}")

The compound interest for a principal of 10000, rate of 5.0%, time of 3 years, compounded annually is: 1576.25
The compound interest for a principal of 10000, rate of 5.0%, time of 3 years, compounded semi-annually is: 1596.93

21. Write a function to calculate the area of a triangle.

In [ ]:
def calculate_triangle_area(base, height):

  area = 0.5 * base * height
  return area


base = 10
height = 5
area = calculate_triangle_area(base, height)
print(f"The area of a triangle with base {base} and height {height} is: {area}")

base = 7.5
height = 12
area = calculate_triangle_area(base, height)
print(f"The area of a triangle with base {base} and height {height} is: {area}")

The area of a triangle with base 10 and height 5 is: 25.0
The area of a triangle with base 7.5 and height 12 is: 45.0

22. Write a function to calculate the perimeter of a rectangle.

In [ ]:
def calculate_rectangle_perimeter(length, width):
  perimeter = 2 * (length + width)
  return perimeter


length = 10
width = 5
perimeter = calculate_rectangle_perimeter(length, width)
print(f"The perimeter of a rectangle with length {length} and width {width} is: {perimeter}")

length = 7.5
width = 12
perimeter = calculate_rectangle_perimeter(length, width)
print(f"The perimeter of a rectangle with length {length} and width {width} is: {perimeter}")

The perimeter of a rectangle with length 10 and width 5 is: 30
The perimeter of a rectangle with length 7.5 and width 12 is: 39.0

23. Write a function to calculate the square and cube of a number

In [ ]:
def calculate_square_and_cube(number):

  square = number ** 2
  cube = number ** 3
  return square, cube


num = 5
square_result, cube_result = calculate_square_and_cube(num)
print(f"The square of {num} is: {square_result}")
print(f"The cube of {num} is: {cube_result}")

num = 10
square_result, cube_result = calculate_square_and_cube(num)
print(f"The square of {num} is: {square_result}")
print(f"The cube of {num} is: {cube_result}")

The square of 5 is: 25
The cube of 5 is: 125
The square of 10 is: 100
The cube of 10 is: 1000

24. Write a function to swap two numbers without using a temporary variable.

In [ ]:
def swap_numbers(a, b):
  print(f"Before swapping: a = {a}, b = {b}")
  a, b = b, a
  print(f"After swapping: a = {a}, b = {b}")
  return a, b

num1 = 10
num2 = 20
swap_numbers(num1, num2)

num3 = -5
num4 = 15
swap_numbers(num3, num4)

Before swapping: a = 10, b = 20
After swapping: a = 20, b = 10
Before swapping: a = -5, b = 15
After swapping: a = 15, b = -5

(15, -5)

25. Write a function to solve a quadratic equation (assume real roots)

In [ ]:
import math

def solve_quadratic_equation(a, b, c):
  discriminant = (b**2) - 4*(a*c)


  if discriminant < 0:
    return "The equation has no real roots."
  else:

    root1 = (-b - math.sqrt(discriminant)) / (2*a)
    root2 = (-b + math.sqrt(discriminant)) / (2*a)
    return root1, root2

a = 1
b = -5
c = 6
roots = solve_quadratic_equation(a, b, c)
print(f"The roots of the quadratic equation {a}x^2 + {b}x + {c} = 0 are: {roots}")


a = 2
b = 4
c = 2
roots = solve_quadratic_equation(a, b, c)
print(f"The roots of the quadratic equation {a}x^2 + {b}x + {c} = 0 are: {roots}")

a = 1
b = 1
c = 1
roots = solve_quadratic_equation(a, b, c)
print(f"The roots of the quadratic equation {a}x^2 + {b}x + {c} = 0 are: {roots}")

The roots of the quadratic equation 1x^2 + -5x + 6 = 0 are: (2.0, 3.0)
The roots of the quadratic equation 2x^2 + 4x + 2 = 0 are: (-1.0, -1.0)
The roots of the quadratic equation 1x^2 + 1x + 1 = 0 are: The equation has no real roots.

26. Write a function to find whether a number is Armstrong or not

In [ ]:
def is_armstrong_number(number):

  num_str = str(number)
  num_digits = len(num_str)


  armstrong_sum = 0
  for digit in num_str:
    armstrong_sum += int(digit) ** num_digits


  if armstrong_sum == number:
    return True
  else:
    return False


num = 153
print(f"{num} is an Armstrong number: {is_armstrong_number(num)}")

num = 9474
print(f"{num} is an Armstrong number: {is_armstrong_number(num)}")

num = 123
print(f"{num} is an Armstrong number: {is_armstrong_number(num)}")

153 is an Armstrong number: True
9474 is an Armstrong number: True
123 is an Armstrong number: False

27. Write a function to find the sum of digits of a number.

In [ ]:
def sum_of_digits(number):

  num_str = str(number)
  digit_sum = 0
  for digit in num_str:
    digit_sum += int(digit)
  return digit_sum


num = 123
sum_result = sum_of_digits(num)
print(f"The sum of digits of {num} is: {sum_result}")

num = 9876
sum_result = sum_of_digits(num)
print(f"The sum of digits of {num} is: {sum_result}")

num = 0
sum_result = sum_of_digits(num)
print(f"The sum of digits of {num} is: {sum_result}")

The sum of digits of 123 is: 6
The sum of digits of 9876 is: 30
The sum of digits of 0 is: 0

28. Write a function to reverse a number

In [ ]:
def reverse_number(number):

  return int(str(number)[::-1])
num = 12345
reversed_num = reverse_number(num)
print(f"The reverse of {num} is: {reversed_num}")

num = 9870
reversed_num = reverse_number(num)
print(f"The reverse of {num} is: {reversed_num}")

num = -123
reversed_num = reverse_number(num)
print(f"The reverse of {num} is: {reversed_num}")

The reverse of 12345 is: 54321
The reverse of 9870 is: 789

ValueError: invalid literal for int() with base 10: '321-'

29. Write a function to count the number of digits in an integer

In [ ]:
def count_digits(number):

  return len(str(abs(number)))


num = 12345
digit_count = count_digits(num)
print(f"The number of digits in {num} is: {digit_count}")

num = -9870
digit_count = count_digits(num)
print(f"The number of digits in {num} is: {digit_count}")

num = 0
digit_count = count_digits(num)
print(f"The number of digits in {num} is: {digit_count}")

The number of digits in 12345 is: 5
The number of digits in -9870 is: 4
The number of digits in 0 is: 1

30. Write a function to print multiplication table of a given number.

In [ ]:
def print_multiplication_table(number):
  print(f"Multiplication table for {number}:")
  for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

num = 7
print_multiplication_table(num)

num = 12
print_multiplication_table(num)

Multiplication table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Multiplication table for 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

LOOP PROBLEMS

1. Print Numbers from 1 to 10

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Print Even Numbers from 1 to 20

In [ ]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

3. Multiplication Table Generator

In [ ]:
number = int(input("Enter a number to generate its multiplication table: "))

print(f"Multiplication table for {number}:")
for i in range(1, 11):
  print(f"{number} x {i} = {number * i}")

Enter a number to generate its multiplication table: 3
Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4. Sum of First N Natural Numbers

In [ ]:
n = int(input("Enter a positive integer (N): "))

if n <= 0:
  print("Please enter a positive integer.")
else:
  sum_of_numbers = 0
  for i in range(1, n + 1):
    sum_of_numbers += i
  print(f"The sum of the first {n} natural numbers is: {sum_of_numbers}")

Enter a positive integer (N): 5
The sum of the first 5 natural numbers is: 15

 5. Calculate Factorial of a Number

In [ ]:
num = int(input("Enter a non-negative integer: "))

if num < 0:
  print("Factorial is not defined for negative numbers.")
elif num == 0:
  print("The factorial of 0 is 1.")
else:
  factorial = 1
  for i in range(1, num + 1):
    factorial *= i
  print(f"The factorial of {num} is: {factorial}")

Enter a non-negative integer: 6
The factorial of 6 is: 720

6. Fibonacci Series up to N Terms

In [ ]:
n_terms = int(input("Enter the number of terms for the Fibonacci sequence: "))

if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Fibonacci sequence up to 1 term:", [0])
else:
    fib_sequence = [0, 1]
    while len(fib_sequence) < n_terms:
        next_term = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_term)
    print(f"Fibonacci sequence up to {n_terms} terms: {fib_sequence}")

Enter the number of terms for the Fibonacci sequence: 7
Fibonacci sequence up to 7 terms: [0, 1, 1, 2, 3, 5, 8]

 7. Count Vowels in a String

In [ ]:
input_string = input("Enter a string: ")
vowel_count = 0
vowels = "aeiouAEIOU"

for char in input_string:
  if char in vowels:
    vowel_count += 1

print(f"The number of vowels in the string is: {vowel_count}")

Enter a string: 5
The number of vowels in the string is: 0

 8. Check if a Number is Prime

In [ ]:
num = int(input("Enter a positive integer: "))

if num <= 1:
  print(f"{num} is not a prime number.")
else:
  is_prime = True
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      is_prime = False
      break
  if is_prime:
    print(f"{num} is a prime number.")
  else:
    print(f"{num} is not a prime number.")

Enter a positive integer: 3
3 is a prime number.

9. Reverse a String Using Loop

In [ ]:
input_string = input("Enter a string: ")
reversed_string = ""

for char in input_string:
  reversed_string = char + reversed_string

print(f"The reversed string is: {reversed_string}")

Enter a string: 7
The reversed string is: 7

10. Print Star Triangle Pattern

In [ ]:
rows = int(input("Enter the number of rows for the star triangle: "))

for i in range(1, rows + 1):
  print("*" * i)

Enter the number of rows for the star triangle: 7
*
**
***
****
*****
******
*******

11. Check Palindrome Word

In [ ]:
word = input("Enter a word: ")
if word == word[::-1]:
  print(f"{word} is a palindrome.")
else:
  print(f"{word} is not a palindrome.")

Enter a word: 6
6 is a palindrome.

12. Armstrong Number Check (3-Digit)

In [ ]:
num = int(input("Enter a 3-digit integer: "))

if 100 <= num <= 999:

  sum_of_cubes = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum_of_cubes += digit ** 3
    temp //= 10


  if num == sum_of_cubes:
    print(f"{num} is an Armstrong number.")
  else:
    print(f"{num} is not an Armstrong number.")
else:
  print("Please enter a 3-digit integer.")

Enter a 3-digit integer: 6
Please enter a 3-digit integer.

13. Pyramid Pattern of Numbers

In [ ]:
rows = int(input("Enter the number of rows for the number pyramid: "))

for i in range(1, rows + 1):

  for j in range(rows - i):
    print(" ", end="")

  for k in range(1, i + 1):
    print(k, end="")
  for l in range(i - 1, 0, -1):
    print(l, end="")
  print()

Enter the number of rows for the number pyramid: 3
  1
 121
12321

14. List All Prime Numbers in a Range

In [ ]:
def is_prime(num):
  """Checks if a number is prime."""
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

start_range = int(input("Enter the starting number of the range: "))
end_range = int(input("Enter the ending number of the range: "))

print(f"Prime numbers between {start_range} and {end_range}:")
for num in range(start_range, end_range + 1):
  if is_prime(num):
    print(num)

Enter the starting number of the range: 5
Enter the ending number of the range: 8
Prime numbers between 5 and 8:
5
7

15. Find the Maximum in a List

In [ ]:
numbers = [10, 5, 23, 8, 15, 30, 2]

maximum_number = numbers[0]
for num in numbers:
  if num > maximum_number:
    maximum_number = num

print(f"The maximum number in the list is: {maximum_number}")

The maximum number in the list is: 30

16. Floyd's Triangle Pattern

In [ ]:
numbers = [10, 5, 23, 8, 15, 30, 2]

maximum_number = numbers[0]
for num in numbers:
  if num > maximum_number:
    maximum_number = num

print(f"The maximum number in the list is: {maximum_number}")

Enter the number of rows for Floyd's Triangle: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

17. Perfect Numbers in a Range

In [ ]:
def is_perfect_number(num):
  if num <= 1:
    return False
  sum_of_divisors = 0
  for i in range(1, num):
    if num % i == 0:
      sum_of_divisors += i
  return sum_of_divisors == num

start_range = int(input("Enter the starting number of the range: "))
end_range = int(input("Enter the ending number of the range: "))

print(f"Perfect numbers between {start_range} and {end_range}:")
for num in range(start_range, end_range + 1):
  if is_perfect_number(num):
    print(num)

Enter the starting number of the range: 5
Enter the ending number of the range: 5
Perfect numbers between 5 and 5:

18. Create Dictionary of Squares

In [ ]:

squares_dict = {}
for i in range(1, 11):
  squares_dict[i] = i**2

print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

19. Number Triangle Pattern

In [ ]:
rows = int(input("Enter the number of rows for the number triangle: "))

for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print(j, end=" ")
  print()

Enter the number of rows for the number triangle: 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

20. Binary to Decimal Conversion

In [ ]:
binary_number = input("Enter a binary number: ")

decimal_number = int(binary_number, 2)

print(f"The decimal representation of {binary_number} is: {decimal_number}")

Enter a binary number: 01
The decimal representation of 01 is: 1